:root {
    --homescreen-anim-length: 7s;
}

#h-letter1 {
    animation: letter-glint1 var(--homescreen-anim-length) ease infinite;
}

@keyframes letter-glint1 {
    0% {
        transform: translateY(0)
    }
    10% {
        transform: translateY(var(--title-bounce-height))
    }
    12%{
        transform: translateY(var(--title-bounce-height))
    }
    22% {
        transform: translateY(0)
    }
}

#h-letter2 {
    animation: letter-glint2 var(--homescreen-anim-length) ease-in-out infinite;
}

@keyframes letter-glint2 {
    2% {
        transform: translateY(0)
    }
    12%{
        transform: translateY(var(--title-bounce-height))
    }
    14%{
        transform: translateY(var(--title-bounce-height))
    }
    24% {
        transform: translateY(0)
    }
}

#h-letter3 {
    animation: letter-glint3 var(--homescreen-anim-length) ease-in-out infinite;
}

@keyframes letter-glint3 {
    4% {
        transform: translateY(0)
    }
    14%{
        transform: translateY(var(--title-bounce-height))
    }
    16%{
        transform: translateY(var(--title-bounce-height))
    }
    26% {
        transform: translateY(0)
    }
}

#h-letter4 {
    animation: letter-glint4 var(--homescreen-anim-length) ease-in-out infinite;
}

@keyframes letter-glint4 {
    6% {
        transform: translateY(0)
    }
    16%{
        transform: translateY(var(--title-bounce-height))
    }
    18%{
        transform: translateY(var(--title-bounce-height))
    }
    28% {
        transform: translateY(0)
    }
}

#h-letter5 {
    animation: letter-glint5 var(--homescreen-anim-length) ease-in-out infinite;
}

@keyframes letter-glint5 {
    8% {
        transform: translateY(0)
    }
    18%{
        transform: translateY(var(--title-bounce-height))
    }
    20%{
        transform: translateY(var(--title-bounce-height))
    }
    30% {
        transform: translateY(0)
    }
}

#h-letter6 {
    animation: letter-glint6 var(--homescreen-anim-length) ease-in-out infinite;
}

@keyframes letter-glint6 {
    10% {
        transform: translateY(0)
    }
    20%{
        transform: translateY(var(--title-bounce-height))
    }
    22%{
        transform: translateY(var(--title-bounce-height))
    }
    32% {
        transform: translateY(0)
    }
}

#first-arrow-svg {
    animation: arrow-bounce var(--homescreen-anim-length) ease infinite both;
}

@keyframes arrow-bounce {
    48% {
        transform: scale(100%);
        color: hsl(305, 11%, 42%);
    }
    58% {
        transform: scale(120%);
        color: var(--nav-text-clr);
    }
    70% {
        transform: scale(100%);
        color: hsl(305, 11%, 42%);
    }
}